@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply rounded-none border-black;
  }
  body {
    @apply bg-brand-bg text-black font-body;
  }

  h1, h2, h3, h4 {
    @apply font-header uppercase;  
  }
}